---
import Layout from "../layouts/Layout.astro"
---

<Layout
seo={{
    title:"Sinno Technologies Limited Page Not Found"
}}
>
    <section>
        <h1>Oops! This page can't be found.
    </section>
</Layout>
<style>
    section{
        background-color: var(--sectWhite);
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    h1{
        color: black;
    }
</style>
