---
import Layout from "../layouts/Layout.astro"; 
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AuditForm from "../components/AuditForm.astro";
import Calendly from "../components/Calendly.astro";
---

<Layout seo={{
	title: "Sinno Technologies Limited",
	description: "Sign up for a free consultation."
}}>
	<Header />
	<main class="wrapper" id="home">
		<section class='content'>
			<Calendly />
            <!-- <AuditForm /> -->
		</section>
	</main>
	<Footer />
</Layout>

<style>
</style>