---
import Layout from '../layouts/Layout.astro';
import CalendlyApp from '../components/CalendlyApp.astro';
import Hero from "../components/Hero.astro"
---

<Layout seo={{
    title: "Book A Free Consultation",
    description: "Book A Free Consultation Page",
}}>
    <section id="calendly" class="wrapper sectionContainer">
        <Hero
            title="Book A Free Consultation"
            subtitle="Do you want to improve your web presence and grow your website? Schedule a free 30-minute conversation and start your journey with us."
        />
        <CalendlyApp/>
    </section>
</Layout>

<style>
    .sectionContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: var(--sectWhite);
    }
</style>




