---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import Social from '../components/Social.astro';
import GoogleMap from "../components/GoogleMap.jsx";
import Hero from "../components/Hero.astro";
---

<Layout seo={{
    title: "Contact Us",
    description: "Contact Us Page",
}}>
    <section id="contact" class="wrapper">
        <Hero
            title="Get In Touch"
            subtitle="In need of a website, mobile application or web accessibility expertise?"
        />
        <div class="content maxWidth">
            <div class="contactInfo">
                <div>
                    <h2>Book A Call</h2>
                    <div>
                        <a href="/calendly" class="underline">Schedule a free 30-minute consultation</a>
                    </div>
                </div>
                <div>
                    <h2>Get In Touch</h2>
                    <div>
                        <a href="mailto:contact@sinno.ca" class="underline">Email us: contact@sinno.ca</a>
                    </div>
                </div>
                <div>
                    <h2>Follow Us On Social Media</h2>
                    <div>
                        <Social />
                    </div>
                </div>
                <div>
                    <h2>Locate Us</h2>
                    <GoogleMap client:only/>
                </div>
            </div>
            <ContactForm />
        </div>
    </section>
</Layout>

<style>
    .wrapper{
        background-color: var(--sectWhite);
    }
    .content{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }

    .contactInfo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        gap: 1rem;
        padding: 0 1rem;
    }

    .contactInfo div{
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 768px) {
        .content{
            grid-template-columns: 1fr;
        }
    h1,
    h2,
    div,
    .contact,
    .contactInfo{
        align-items: center;
        text-align: center;
    }
    }
</style>


