---
import Layout from "../layouts/Layout.astro"; 
import Header from "../components/Header.astro";
import Nav from "../components/Nav.jsx";
import Hero from "../components/Hero.astro";
---

<Layout title="Sinno Technologies Limited" >
	<Header />
	<main class="wrapper">
		<Nav client:load/>
		<section class="content">
			<Hero />
		</section>
	</main>
</Layout>

<style>
	.wrapper{
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}
	.content{
		width: 100%;
		height: 100%;
	}
</style>