---
import Layout from "../layouts/Layout.astro"; 
import Hero from "../components/HeroMain.astro";
import Projects from "../components/Projects.astro";
import Reviews from "../components/Reviews.astro";
import Services from "../components/Services.astro";
import Land from "../components/Land.astro";
import Partners from "../components/Partners.astro";
---

<Layout
    canonical="/"
>
	<main class="wrapper" id="home">
		 <section id="hero">
			<Hero />
		 </section>
		<section class='content'>
            <Partners />
			<Services />
			<Projects page="Home"/>
            <Reviews page="Home"/>
            <Land />
		</section>
	</main>
</Layout>

<style>
	#hero{
		width: 100%;
	}
</style>
