---
import Layout from "../layouts/Layout.astro"; 
import Header from "../components/Header.astro";
import Nav from "../components/Nav.jsx";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import GoogleReviews from "../components/googleReviewsCarousel";
---

<Layout seo={{
	title: "Sinno Technologies Limited | Software Development Services in Halifax, Nova Scotia | Atlantic Canada",
	description: "Expert software development services in Halifax, Nova Scotia. Enhance your digital presence with our professional solutions."
}}>
	<Header />
	<main class="wrapper" id="home">
		<Nav client:load/>
		<section class="content">
			<Hero />
			<Services />
			<Projects />
			<GoogleReviews client:visible/>
		</section>
	</main>
</Layout>

<style>
	.wrapper{
		display: flex;
		width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}
	.content{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
		gap: 2rem;
	}
</style>