---
import Layout from "../layouts/Layout.astro"; 
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Process from "../components/Process.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import GoogleReviews from "../components/googleReviewsCarousel";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout seo={{
	title: "Sinno Technologies Limited | Web Development Services in Halifax, Nova Scotia, Canada. Professional Software Development and Web Accessibility Auditing Services.",
	description: "Welcome to Sinno Technologies Ltd., your premier destination for top-tier software development services specializing in custom web development and web accessibility auditing services. Our expert team is dedicated to crafting accessible, user-centric websites that meet and exceed web accessibility standards, ensuring inclusivity for all users. With a focus on ADA and WCAG compliance, we deliver bespoke solutions tailored to your unique needs. Trust us to elevate your online presence with responsive designs, seamless user experiences, and robust accessibility features. Contact us today to embark on a journey towards digital excellence."
}}>
	<Header />
	<main class="wrapper" id="home">
		 <section id="hero">
			<Hero />
		 </section>
		<section class='content'>
			<Process />
			<Services />
			<Projects />
			<GoogleReviews client:visible/>
			<Contact />
		</section>
	</main>
	<Footer />
</Layout>

<style>
	.wrapper{
		display: flex;
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.content{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	#hero{
		width: 100%;
	}
</style>