---
import Layout from '../layouts/Layout.astro';
import PastProjects from "../components/Projects.astro";
---

<Layout>
    <main class="wrapper" id="home">
        <section class='content'>
            <PastProjects />
        </section>
    </main>

</Layout>