---
import Layout from '../layouts/Layout.astro';
import Projects from "../components/Projects.astro";
---

<Layout>
    <main class="wrapper" id="home">
        <section class='content'>
            <Projects />
        </section>
    </main>

</Layout>

<style>
	#hero{
		width: 100%;
	}
</style>