---
import Layout from "../layouts/Layout.astro"
import TeamMember from "../components/teamCard.astro"
import Consultation from "../components/Consultation.astro";
import { teamMembers } from "../data/teamMembers.js";
---

<Layout
  seo="Sinno Technologies Limited Team Members"
  >
  <div class="wrapper">
    <div class="maxWidth content">
      <h2>Meet Our Team</h2>
      <p>Our team is dedicated to delivering innovative and accessible software solutions to help your business thrive.</p>
    </div>
    <div class="teamMembers maxWidth">
      {teamMembers.map((member) => (
        <TeamMember {...member} />
      ))}
    </div>
    <Consultation backgroundColor="var(--black)" color="var(--white)"/>
  </div>
</Layout>

<style>
  .wrapper{
    padding: 0 0 1rem 0;
  }
  .teamMembers{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: start;
  }

  @media (min-width: 577px){
    .teamMembers{
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
