---
---
<section class="sectionContainer" id="auditForm">
    <div class="contentContainer maxWidth">
        <h1 class="contact">Schedule a Call With Us For a Free Consultation!</h1>
        <p class="star">* means required</p>
        <form class="form" name="contactForm" method="POST" netlify>

            <label class="label" for="fname">First Name*</label>
            <input class="input" type="text" id="fname" name="firstname" placeholder="Your first name" required>

            <label class="label" for="lname">Last Name*</label>
            <input class="input" type="text" id="lname" name="lastname" placeholder="Your last name" required>

            <label class="label" for="email">Email Address*</label>
            <input class="input" type="email" id="email" name="email" placeholder="Your email address" required>

            <label class="label" for="company">Company</label>
            <input class="input" type="text" id="company" name="company" placeholder="Your company name">

            <label class="label" for="number">Number</label>
            <input class="input" type="tel" id="number" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Please use ten digit format 999-999-9999">

            <label class="label" for="message">Subject*</label>
            <textarea id="message" rows="6" name="message" placeholder="Your message here" required></textarea>

            <button class="submit" type="submit">Submit</button>

        </form>
    </div>
</section>
