---
---
<!-- Calendly inline widget begin -->
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<div class="sectionContainer" id="calendly">
    <h2 class="calendlyTitle">Schedule a Call</h2>
    <div class="calendly calendly-inline-widget" data-url="https://calendly.com/sinno-tech/meeting-with-jamil" style="min-width:320px;height:700px;"></div>
</div>
<!-- Calendly inline widget end -->

<style>
    .sectionContainer {
        width: 100%;
        height: auto;
        background-color: var(--sectWhite);
        color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
    }
    .calendly-inline-widget {
        width: 100%;
        height: 100%;
    }
    .calendlyTitle{
        font-weight: bold;
    }

</style>