---
---
<!-- Calendly inline widget begin -->

<div class="container">
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <div class="calendly calendly-inline-widget" data-url="https://calendly.com/sinno-tech/meeting-with-jamil" style="min-width:500px;height:700px;"></div>
    <!-- Calendly inline widget end -->
</div>
<style>
    .container{
        width:100%;
        height: 100%;
    }

    .calendly-inline-widget {
        width: 100%;
        height: 100%;
        background-color: var(--white);
    }
</style>
