---
---
<section class="sectionContainer" id="contact">
    <div class="contentContainer maxWidth">
        <p class="subtitle">We'd love to hear from you. Fill out the form below and we'll get back to you as soon as possible.</p>
        <p class="star">* means required</p>
        <form class="form" name="contactForm" method="POST" netlify>

            <label class="label" for="fname">First Name*</label>
            <input class="input" type="text" id="fname" name="firstname" placeholder="Your first name" required>

            <label class="label" for="lname">Last Name*</label>
            <input class="input" type="text" id="lname" name="lastname" placeholder="Your last name" required>

            <label class="label" for="email">Email Address*</label>
            <input class="input" type="email" id="email" name="email" placeholder="Your email address" required>

            <label class="label" for="company">Company</label>
            <input class="input" type="text" id="company" name="company" placeholder="Your company name">

            <label class="label" for="number">Number</label>
            <input class="input" type="tel" id="number" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Please use ten digit format 999-999-9999">

            <label class="label" for="message">Subject*</label>
            <textarea id="message" rows="6" name="message" placeholder="Your message here" required></textarea>

            <button class="submit" type="submit">Submit</button>

        </form>
    </div>
</section>
<style>
    .sectionContainer{
		padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--sectWhite);
        color: var(--black);
    }

    .contentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact{
        font-size: 3.5rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .subtitle{
        font-size: 1.4rem;
        text-align: left;
        letter-spacing: 0.1rem;
    }

    .form{
        background-color: var(--white);
    }

    .text{
        /* font-size: 1.4rem; */
        color: var(--black);
        padding: 1rem;
    }

    .star{
        font-size: 1.2rem;
        color: var(--black);
        width: 100%;
        text-align: left;
        font-weight: bold;
        padding: 1rem 0;
    }
    .form{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        border: 2px solid var(--black);
		border-radius: 1rem;
    }

    .label{
        font-weight: 500;
        color: var(--black);
        font-size: 1.6rem;
    }

    .input,
    #message{
        width: 100%;
        padding: 0.5rem;
		background-color: var(--sectWhite);
        border-radius: 1rem;
        font-size: 1.4rem;
    }

    .submit{
        width: 25%;
        height: auto;
        align-self: center;
        padding: 1rem;
        text-align: center;
        background-color: var(--black);
        border: 2px solid var(--black); 
        color: var(--white);
        border-radius: 1em;
        font-size: 1.4rem;
    }

    .submit:hover {
        background-color: var(--white);
        color: var(--black);
        transition: 0.3s;
    }

    @media screen and (max-width: 992px) {
        .contact{
            font-size: 2.5rem;
        }
        .submit{
            width: auto;
        }

    }
</style>