---
---

<section>
    <a href="#"><img src="../../public/icons/facebook_icon.svg" alt="Facebook icon"></a>
    <a href="#"><img src="../../public/icons/twitter_icon.svg" alt="Twitter icon"></a>
    <a href="#"><img src="../../public/icons/youtube_icon.svg" alt="YouTube icon"></a>
    <a href="mailto:sinno.technologies@gmail.com"> <img src="../../public/icons/email_icon.svg" alt="Email icon"> </a>
</section>

<style>
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    section a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section a img{
        width: auto;
        max-height: 40px;
    }
</style>