---
---
<footer class="footer">
    <p class="text">&copy; 2024 Sinno Technologies Limited. All rights reserved.</p>
</footer>
<style>
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: var(--yellow);
        border-top: 2px solid var(--white);
        color: var(--black);
    }

    .text{
        font-size: 1.2rem;
        padding: 0 1rem;
        text-align: center;
        font-family: 'IBMPlexMonoMedium', sans-serif;
    }
</style>