---
import Nav from "./Nav.jsx";
---
<footer class="footer">
    <Nav colorWhite={true} footerVisible={true} client:load/>
    <p class="text">&copy; 2024 Sinno Technologies Limited. All rights reserved.</p>
    <p class="text">Halifax, NS</p>
</footer>
<style>
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--black);
        border-top: 2px solid var(--yellow);
        color: var(--white);
    }

    .text{
        text-align: center;
    }
</style>