---
---
<footer class="footer">
    <p class="text">&copy; 2023 Sinno Technologies Limited. All rights reserved.</p>
</footer>
<style>
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: var(--yellow);
        border-top: 3px solid var(--white);
        color: var(--black);
    }

    .text{
        font-size: 1.2rem;
    }
</style>