---
import { Image } from "astro:assets";
import LogoMain from "../assets/logo_main.svg";
import HamburgerMenu from "../components/HamburgerMenu.jsx";
import Nav from "../components/Nav.jsx";
---
<header class="header" id="header">
    <section class="wrapper">
        <section class="right">
            <HamburgerMenu client:load/>
        </section>
        <section class="left">
            <a href="/">
                <Image src={LogoMain}  alt="Sinno Technologies Main Logo."/>
            </a>
        </section>
    </section>
	<Nav client:load/>
</header>

<style>
    .header{
        position: sticky;
        top: 0; 
        width: 100%;
        height: auto;
        background-color: var(--black);
        z-index: 100;
        padding: 0 1rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        padding-left: 1rem;
    }

    .left{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .left *{
        max-height: 80px;
        width: auto;
    }

    .right{
        display: flex; 
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
</style>