---
interface Props {
        title: string;
        subtitle: string;
    }

    const { title, subtitle } = Astro.props as Props
---

<section class="container">
    <div class="titleContainer">
        <h1 class="title highlight">{title}</h1>
        <h3 class="subtitle">{subtitle}</h3>
    </div>
</section>

<style>
    .container{
        width: 100%;
        height: 70vh;
        background-color: var(--black);
    }

    .titleContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--white);
        padding: 1rem;
    }

    .title{
        width: 100%;
        height: auto;
        text-align: center;
        font-weight: bold;
    }
    
    .subtitle{
        width: 100%;
        height: auto;
        text-align: center;
        color: var(--white);
        max-width: 768px;
    }
</style>

