---
---

<section class="container">
    <div class="background">
        <div class="content">
            <h1 class="title">SINNO TECHNOLOGIES LTD.</h1>
            <!-- <div class="line"></div> -->
            <h2 class="subtitle">Is your website or app struggling with web accessibility compliance? Sinno Technologies Limited offers expert web accessibility audits, custom software development, and consulting services. Let us be your fractional CTO, ensuring your digital solutions are accessible, efficient, and user-friendly.</h2>
            <a href="#contact" class="contact outlined">Contact Us</a>
        </div>
    </div>
</section>

<style>
    .container{
        background-image: url('../assets/halifax.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        color: var(--white);
    }

    .background{
        width:100%; 
        height: 100%;
        background-color: var(--bgBlack);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .content{
        width: 100%;
        max-width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .title{
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 5.0rem;
        font-weight: bold;
        align-self: flex-start;
    }

    .subtitle{
        font-size: 1.4rem;
        text-align: left;
        align-self: flex-end;
        max-width: 50%;
        letter-spacing: 0.1rem;
    }

    .contact{
        font-size: 1.6rem;
        padding: 1rem;
        background-color: var(--buttonBlack);
        border: 2px solid var(--white);
        border-radius: 1rem;
        justify-self: flex-end;
        align-self: center;
    }

    .contact:hover{
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--white);
        transition: 0.3s;
    }

    @media screen and (max-width: 600px) {
        .container{
            justify-content: flex-start;;
            height: auto;
        }

        .title{
            font-size: 2.5rem;
        }

        .subtitle{
            font-size: 1.0rem;
            max-width: 80%;
        }

        .contact{
            font-size: 1.0rem;
        }
    }
    @media (min-width: 601px) and (max-width: 1080px) {
        .container{
            justify-content: flex-start;;
            height: auto;
        }

        .background{
            background-attachment: scroll;
        }
        .content{
            padding: 1rem;
        }
        .title{
            font-size: 3.5rem;
        }

        .subtitle{
            font-size: 1.2rem;
        }
        .contact{
            font-size: 1.2rem;
        }
    }