---
---

<section class="container">
    <div class="background">
        <div class="content maxWidth">
            <h1 class="title"><span class="highlight">Accessible</span> websites that work.</h1>
            <h5 class="subtitle">Grow your business with a fast and accessible website that reflects your brand's values and connects with your customers.</h5>
            <a href="/contact" class="contact">Contact Us</a>
        </div>
    </div>
</section>

<style>
    .container{
        background-image: url('/halifax.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        color: var(--white);
    }

    .background{
        width:100%; 
        height: 100%;
        background-color: var(--bgBlack);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
        padding: 1rem 0;
    }

    .title{
        width: 100%;
        height: auto;
        text-align: left;
        font-weight: bold;
        color: var(--white);
    }

    .subtitle{
        text-align: left;
        max-width: 50%;
        color: var(--white);
    }

    .contact{
        padding: 1rem;
        background-color: var(--buttonBlack);
        border: 2px solid var(--white);
        color: var(--white);
        border-radius: 0.5rem;
        justify-self: flex-end;
        align-self: center;
        font-size: var(--font-size-lg);
    }

    .contact:hover{
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--white);
        transition: 0.3s;
    }

    @media screen and (max-width: 576px) {
        .contact{
            font-size: var(--font-size-sm);
        }
    }

    @media (min-width: 577px) and (max-width: 768px) {
        .contact{
            font-size: var(--font-size-base);
        }
    }

    @media screen and (max-width: 992px) {
        .container{
            justify-content: flex-start;;
            height: auto;
        }

        .subtitle{
            max-width: 100%;
        }
    }