---
---

<section class="container">
    <section class="content">
        <h1 class="title">SINNO TECHNOLOGIES LIMITED</h1>
        <div class="line"></div>
        <h2 class="subtitle">Empowering a More Inclusive Web Experience, One Application at a Time</h2>
        <a href="#contact" class="contact">Contact Us</a>
    </section>
</section>

<style>
    .container{
        background-image: url('../assets/halifax.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: var(--white);
        padding: 4rem;
    }

    .content{
        background-color: var(--bgBlack);
        width: 100%;
        height: auto;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-radius: 1rem;
    }

    .title{
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 4.0rem;
        font-weight: bold;
    }

    .subtitle{
        font-size: 1.8rem;
        font-weight: 600;
        font-style: italic;
        text-align: center;
    }

    .contact{
        font-size: 1.6rem;
        padding: 1rem;
        border: 2px solid var(--yellow);
        border-radius: 1rem;
    }

    .contact:hover{
        background-color: var(--yellow);
        color: var(--black);
        border: 2px solid var(--white);
        transition: 0.3s;
    }

    @media screen and (max-width: 768px) {
        .title{
            overflow-wrap: break-word;
        }
    }