---
---
<section class="wrapper">
    <p class="center">Sinno Technologies Limited is located in Mi’kma’ki, the ancestral and unceded territory of the Mi’kmaq People, and we acknowledge them as the past, present, and future caretakers of this land.</p>
    <p class="center">This territory is covered by the “Treaties of Peace and Friendship” which Mi’kmaq Wəlastəkwiyik (Maliseet), and Passamaquoddy Peoples first signed with the British Crown in 1725. The treaties did not deal with surrender of lands and resources but in fact recognized Mi’kmaq and Wəlastəkwiyik (Maliseet) title and established the rules for what was to be an ongoing relationship between nations. We are all Treaty people.</p>
    <p class="center">Mi’kma’ki includes all of Nova Scotia, Prince Edward Island, part of New Brunswick, the Gaspé region of Quebec, part of Maine, and southwestern Newfoundland.</p>
<section>
<style>
    .wrapper{
        background-color: var(--sectYellow);
        padding: 1rem;
    }
    p{
        max-width: 1000px;
        padding: 1rem;
    }
</style>
