---
---
<section class="wrapper">
    <h2 class="bold center">Land Acknowledgement</h2>
    <p class="center">Sinno Technologies Limited is humbly located in Mi’kma’ki and we are grateful to be in community with other locally owned and operated businesses on this territory.</p>
    <p class="center">We recognize the different experiences that folks in our community have that may hinder access.</p>
    <p class="center">We want to listen and to help make our interactions as comfortable as possible.</p>
<section>
<style>
    .wrapper{
        background-color: var(--sectWhite);
        padding: 1rem;
    }
    p{
        font-style: italic;
        max-width: 768px;
        padding: 1rem;
    }
</style>
