---
---
<nav class="navLinks">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<style>
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
  @media screen and (max-width: 635px) {
    .navLinks {
        display: none;
    }
  }

</style>