---
import AppServices from "./AppServices.astro";
import AuditServices from "./AuditServices.astro";
---


<section class="mainContainer" id="services">
    <h1 class="title">Accessible Software Solutions</h1>
    <div class="line"></div>
    <section class="container">
        <h2 class="services">Our Services</h2>
        <section class="textContainer">
            <p class="mainText">Can people with disabilities access your website? Is your website designed to captivate potential customers seeking the services you offer? Does it seamlessly adapt to any device, ensuring a flawless user experience? In today's digital landscape, having a responsive and accessible website is no longer a luxury—it's a necessity.</p>
            <p class="mainText">Our mission is to deliver top-notch, responsive, and accessible websites to small businesses and individuals in our community. Whether you are in need of a brand-new website or a revamp to thrive in the mobile era, We are here to assist you.</p>
        </section>
        <AuditServices />
        <AppServices />
    </section>
</section>
<style>
    .mainContainer{
        width:100%;
        height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        padding: 1rem;
        gap: 1rem;
    }
    .container{
        width: 100%;
        height:auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        gap: 2rem;
    }

    .services{
        width: 100%;
        height: auto;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 1rem;
        text-align: center;
    }

    .subtitle{
        font-size: 2.4rem;
        text-decoration: underline;
        color: var(--yellow);
        font-weight: bold;
    }

    .textContainer{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        height: 100%;
        background-color: var(--bgBlack);
        border: 2px solid var(--yellow); 
        border-radius: 1rem;
    }

    .mainText{
        font-size: 1.6rem;
        width:100%;
        height: auto;
        text-align: left;
        padding: 1rem;
        flex-grow: 1;
    }

    .servicesContainer{
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .content{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .title{
        width: 100%;
        height: auto;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
    }

    .topic{
        width: auto;
        height: auto;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
    }

    .featureContainer{
        width: 100%;
        height: 100%;
        padding: 1rem;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        background-color: var(--bgBlack);
        border: 2px solid var(--yellow); 
        border-radius: 1rem;
        overflow: auto;
    }

    .featureContainer .text{
        width: auto;
        height: 100%;
        font-size: 1.6rem;
        text-align: left;
    }

    .content{
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .image {
        width: 100%;
        height: auto;
		max-height: 180px;
        padding: 1rem;
    }

    .btnContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
    }

    #consult{
        padding: 1rem;
        font-size: 1.6rem;
        border: 2px solid var(--yellow); 
        border-radius: 1em;
    }

    #consult:hover {
        background-color: var(--yellow);
        color: var(--black);
        border: 2px solid var(--white);
        transition: 0.3s;
    }

	@media screen and (max-width: 1080px){
        .mainContainer{
            padding: 1rem 0;
        }
        .servicesContainer{
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            place-items: center;
        }

        .featureContainer{
            min-height: 340px;
        }

        .textContainer,
        .features{
            width:100%;
            height: auto;
        }
        
        .image{
            max-height: 120px;
        }

        .title{
            font-size: 2.5rem;
        }

        .topic{
            font-size: 1.8rem;
        }
        
        #consult,
        .featureContainer .text{
            font-size: 1.2rem;
        }

        .services{
            font-size: 1.8rem;
        }
        .mainText{
            font-size: 1.2rem;
        }
	}
</style>