---
import Consultation from "./Consultation.astro";
import { Image } from "astro:assets";
import computer from "../assets/icons/computer.svg";
import remediation from "../assets/icons/remediation.svg";
import teach from "../assets/icons/teach.svg";
---

<section class="sectionContainer" id="services">
    <div class="contentContainer maxWidth">
        <h2 class="servicesTitle">How We Serve Your Business</h2>
        <div class="servicesContainer">
            <div class="servicesBlock">
                <Image class="image" src={computer} alt="a computer" title="Computer for new websites" />
                <h3 class="services">Applications</h3>
                <p class="text">For Businesses and Consultants who want to start their online journey, or build a web or mobile application.</p>
            </div>
            <div class="servicesBlock">
                <Image class="image" src={remediation} alt="a first aid kit" title="First aid kit for websites" />
                <h3 class="services">Audits</h3>
                <p class="text">Audit and remediate your current website to be more accessible, secure and user-friendly.</p>
            </div>
            <div class="servicesBlock">
                <Image class="image" src={teach} alt="a teacher" title="Educational services for digital accessibility" />
                <h3 class="services">Workshops</h3>
                <p class="text">Learn web accessibility with expert-led workshops tailored to your team. Build inclusive, user-friendly digital solutions.</p>
            </div>
        </div>
        <Consultation backgroundColor="var(--yellow)" color="var(--black)"/>
    </div>
</section>

<style>
    .sectionContainer {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .contentContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .servicesContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    
    .servicesBlock{
        width: 100%;
        height: 100%;
        border: 1px solid var(--black);
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 1rem;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.9);
    }

    .servicesTitle {
        text-align: center;
    }

    .services{
        text-align: center;
        width: 100%;
        height: auto;
    }

    .image{
        width: 30%;
        height: auto;
    }
    .text{
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 768px) {
        .servicesContainer{
            flex-direction: column;
            align-items:  flex-start;
        }

        .image{
            width: 15%;
        }

        .servicesContainer {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 769px) and (max-width: 992px) {
        .servicesContainer {
            grid-template-columns: repeat(2, 1fr);
        }
        .image{
            width: 20%;
        }
    }
</style>
