---
export interface Props {
	title: string;
}

import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sinno Technologies' Portfolio">
        <meta name="keywords" content="Web development, Web design, Portfolio, SEO optimization, Responsive design, Digital marketing, Accessibility, WCAG, ADA compliance, Screen reader, Alt text, Keyboard navigation, Color contrast, ARIA, Assistive technology">
        <meta name="keywords" content="Canada, Canadian culture, tourist destinations, natural beauty">
        <meta name="keywords" content="Atlantic Canada, coastal regions, maritime culture, seafood, scenic beauty">
        <meta name="keywords" content="Halifax, historic city, maritime heritage, cultural events, Nova Scotian cuisine">
        <meta name="keywords" content="New Brunswick, Bay of Fundy, Acadian culture, natural wonders, scenic drives, coastal towns">
        <meta name="keywords" content="PEI, Anne of Green Gables, red sand beaches, Charlottetown, lobster, Island culture">
        <meta name="keywords" content="Newfoundland, rugged coastline, fishing culture, Viking history, Gros Morne National Park">
        <meta name="keywords" content="Toronto tech hub, Vancouver tech scene, Montreal tech industry, Ottawa tech startups, Canadian technology companies, Canadian IT sector, Canadian tech talent">
        <meta name="geo.placename" content="Halifax, Nova Scotia, Canada">
        <meta name="geo.region" content="CA-NS">
        <meta name="geo.position" content="45.3657;-63.2523">
        <meta name="language" content="English">
        <!-- <meta property="og:image" content="/images/intro.jpeg"> -->
        <meta property="og:title" content="Software Development Services in Halifax, Nova Scotia | Atlantic Canada">
        <meta property="og:description" content="Expert software development services in Halifax, Nova Scotia. Enhance your digital presence with our professional solutions.">
        <meta property="og:url" content="https://www.jamilsinno.ca">
        <!-- <link rel="icon" type="image/svg+xml" href="/logo/tabLogo.svg" /> -->
        <link rel="canonical" href="https://www.jamilsinno.ca">
        <title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
