---
import { SEO, type Props as SEOProps } from 'astro-seo';
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	seo?: SEOProps;
}
const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://www.sinno.ca" />
		<link rel="sitemap" href="/sitemap-0.xml" />
		<link rel="icon" type="image/svg+xml" href="/icons/main_icon_white.svg" />
		<SEO 
			{...seo}
            title={`Sinno Technologies Limited: Halifax's #1 Experts in Website, Web Applications, and Mobile Application Development Services${seo?.title ? " - " + seo?.title : "."}`}
            description={`Sinno Technologies: Halifax's trusted experts in accessible website design, WCAG-compliant web and mobile app development. Explore our portfolio, client reviews, and request a quote today!${seo?.description ? " - " + seo?.description : ""}`}
			openGraph={{
                basic: {
                    title: "Sinno Technologies Limited: Halifax's #1 Experts in Website, Web Applications, and Mobile Application Development Services", 
                    image: "https://www.sinno.ca/logo_header_white.svg",
                    type: "website",
                    url: "https://www.sinno.ca"
                    },
			}}
			twitter={{
				card: "summary_large_image",
                image: "https://www.sinno.ca/logo_header_white.svg",
                creator: "@l7mb3jeen"
			}}
		/>
	</head>
	<body>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZK949PCPSD"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZK949PCPSD');
        </script>
        <Header />
		<slot />
        <Footer />
	</body>
</html>
