---
import { SEO, type Props as SEOProps } from 'astro-seo';
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/global.css";

export interface Props {
	seo?: SEOProps;
}
const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sinno Technologies' Portfolio">
        <meta name="keywords" content="Web development, Web design, Portfolio, SEO optimization, Responsive design, Digital marketing, Accessibility, WCAG, ADA compliance, Screen reader, Alt text, Keyboard navigation, Color contrast, ARIA, Assistive technology">
        <meta name="keywords" content="Halifax, Toronto, Nova Scotia, New Brunswick, Prince Edward Island, PEI, Newfoundland, Ontario, Alberta, Quebec, Saskatchewan, British Columbia, Manitoba, Western Canada, Atlantic Canada, Canada">
        <meta name="geo.placename" content="Halifax, Nova Scotia, Canada">
        <meta name="geo.region" content="CA-NS">
        <meta name="geo.position" content="45.3657;-63.2523">
        <meta name="language" content="English">
        <meta property="og:title" content="Software Development Services in Halifax, Nova Scotia, Canada | Atlantic Canada">
        <meta property="og:description" content="Expert software development services in Halifax, Nova Scotia, Canada. Enhance your digital presence with our professional solutions.">
        <meta property="og:url" content="https://www.sinno.ca">
        <link rel="icon" type="image/svg+xml" href="/icons/main_icon.svg" />
        <link rel="canonical" href="https://www.sinno.ca">
        <link rel="sitemap" href="/sitemap-index.xml" />
        <SEO 
            {...seo}
            title={seo?.title || "Sinno Technologies Limited"}
            description={seo?.description || "Sinno Technologies Limited Company Website"}
        />
	</head>
	<body>
		<slot />
	</body>
</html>
