---
import { SEO, type Props as SEOProps } from 'astro-seo';
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	seo?: SEOProps;
}
const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sinno Technologies is dedicated to enhancing your website’s accessibility and user experience. Our services include website rejuvenations, accessibility audits, workshops and webinars, helping you meet WCAG, ADA, and ACA standards.">
        <meta name="keywords" content="Web Accessibility, Accessibility Audit, Website Rejuvenation, Web Development, Digital Accessibility, SEO, Responsive Design, Halifax, Nova Scotia, Canada">
        <meta name="geo.placename" content="Halifax, Nova Scotia, Canada">
        <meta name="geo.region" content="CA-NS">
        <meta name="geo.position" content="44.651070, -63.582687">
        <meta name="language" content="English">
        <meta property="og:title" content="Sinno Technologies Ltd.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://www.sinno.ca/logo_header_white.svg">
        <meta property="og:description" content="Sinno Technologies is dedicated to enhancing your website’s accessibility and user experience. Our services include website rejuvenations, accessibility audits, workshops and webinars, helping you meet WCAG, ADA, and ACA standards.">
        <meta name="robots" content="index, follow">
        <meta property="og:url" content="https://www.sinno.ca">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Sinno Technologies Ltd.">
        <meta name="twitter:description" content="Sinno Technologies is dedicated to enhancing your website’s accessibility and user experience. Our services include website rejuvenations, accessibility audits, workshops and webinars, helping you meet WCAG, ADA, and ACA standards.">
        <meta name="twitter:image" content="https://www.sinno.ca/logo_header_white.svg">
        <link rel="icon" type="image/svg+xml" href="/icons/main_icon_white.svg" />
        <link rel="canonical" href="https://www.sinno.ca">
        <link rel="sitemap" href="/sitemap-0.xml" />
        <SEO 
            {...seo}
            title={seo?.title || "Sinno Technologies Limited"}
            description={seo?.description || "Sinno Technologies Limited Company Website"}
        />
	</head>
	<body>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZK949PCPSD"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-ZK949PCPSD');
        </script>
        <Header />
		<slot />
        <Footer />
	</body>
</html>
